.conda/** linguist-vendored
.cache/** linguist-vendored
.jupyter/** linguist-vendored
.ipython/** linguist-vendored
.java/** linguist-vendored
.config/** linguist-vendored
*.py linguist-detectable=true
*.sh linguist-detectable=true
